@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

:root {
  --text_color_1: #000;
  --text_color_2: #fff;
  --background_1: #33292a;
  --background_2: #644b4f;
  --background_3: #333333;
  --background_4: #f2f2f2;
  --link_color_1: #efa69d;
  --link_color_2: #e9877b;
  --padding-sections: 60px;
  --desktop-width: 1000px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

html {
  font-family: Roboto, sans-serif;
}
h1 {
  font-family: Roboto;
  font-size: 80px;
}
.nadpis-1 {
  color: var(--text_color_1);
}
.nadpis-2 {
  color: var(--text_color_2);
}
nav {
  background-color: var(--background_1);
  max-width: var(--desktop-width);
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.nav-item {
  color: var(--text_color_2);
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .nav-item {
    display: none;
  }
}

/* zde ještě potřeba přidat nav iconu pro zobrazení při šířce <768px*/

.headline {
  position: relative;
  width: 100%;
  max-width: var(--desktop-width);
  margin: 0 auto;
  height: 40vw;
  min-height: 400px;
  background-image: url(./images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.headline-text {
  color: var(--text_color_2);
  position: absolute;
  bottom: 20px;
  right: 35px;
  text-align: right;
}
.headline-img {
  width: 100%;
}
.about-us {
  max-width: var(--desktop-width);
  margin: 0 auto;
  position: relative;
}

.wrapper-about-us {
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

@media screen and (max-width: 992px) {
  .wrapper-about-us {
    justify-content: center;
    gap: 20px;
  }
}

.about-us-article {
  max-width: 450px;
  text-align: block;
}

.about-us-img-wrapper {
  max-width: 450px;
  max-height: 300px;
}

.about-us-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* @media screen and (max-width: 992px) {
  .about-us-img {
    max-width: 100%;
  }
} */

.what-we-do {
  background-color: var(--background_1);
  padding: var(--padding-sections);
  max-width: var(--desktop-width);
  margin: 0 auto;
}

.what-we-do-text-wrapper {
  max-width: var(--desktop-width);
  margin: 0 auto;
  text-align: center;
  color: var(--text_color_2);
}

.what-we-do-icon-flex {
  max-width: var(--desktop-width);
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 992px) {
  .what-we-do-icon-flex {
    max-width: 100px;
    justify-content: center;
  }
}
.what-we-do-icon {
  text-align: center;
  color: var(--text_color_2);
}
.what-we-do-img {
  object-fit: cover;
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 992px) {
  .what-we-do-img {
    height: 80px;
    width: 80px;
  }
}

.our-trips {
  background-color: var(--background_4);
  padding: var(--padding-sections);
  border: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: var(--desktop-width);
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .our-trips {
    flex-direction: column;
  }
}

.our-trips-img-wrapper {
  /* height: 250px;
  width: 250px; */
  width: calc(100% / 3.1);
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .our-trips-img-wrapper {
    width: 100%;
  }
}

.our-trips-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.our-trips-nadpis-wrapper {
  width: calc(100% / 3.1);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .our-trips-nadpis-wrapper {
    width: 100%;
  }
}

.nadpis-our-trips {
  color: var(--text_color_1);
  text-align: center;
  font-size: 30px;
  /* height: 100%;
  width: 100%; */
}

.where-to-go {
  background-color: var(--background_2);
  padding: var(--padding-sections);
  max-width: var(--desktop-width);
  display: flex;
  gap: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .where-to-go {
    /* max-width: 400px; */
    flex-direction: column;
  }
}
.where-to-go-nadpis-wrapper {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .where-to-go-nadpis-wrapper {
    width: 100%;
    text-align: center;
  }
}

.where-to-go-text-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .where-to-go-text-wrapper {
    width: 100%;
  }
}

.where-to-go-button {
  width: 120px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.reviews {
  padding: var(--padding-sections);
  max-width: var(--desktop-width);
  margin: 0 auto;
  text-align: center;
}

.reviews-intro {
  width: 70%;
  margin: 0 auto;
}

.reviews-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 80px;
}

@media screen and (max-width: 992px) {
  .reviews-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.review {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-name {
  font-weight: bold;
}
.review-img-wrapper {
  width: 50%;
  margin: 0 auto;
}

.review-img {
  width: 100%;
  object-fit: cover;
}

.final-pictures-wrapper {
  max-width: var(--desktop-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .final-pictures-wrapper {
    flex-direction: column;
  }
}

.final-pictures-img-wrapper {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .final-pictures-img-wrapper {
    width: 100%;
  }
}

.final-picture-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  background-color: var(--background_3);
  padding: var(--padding-sections);
  max-width: var(--desktop-width);
  margin: 0 auto;
}
p {
  font-size: 16px;
}
